<header class="block">
    <ul class="header-menu horizontal-list">
        <li>
            <a class="header-menu-tab" href="#1"><span class="icon entypo-cog scnd-font-color"></span>Settings</a>
        </li>
        <li>
            <a class="header-menu-tab" href="#2"><span class="icon fontawesome-user scnd-font-color"></span>Account</a>
        </li>
        <li>
            <a id="messages-link" class="header-menu-tab" href="#3"><span
                    class="icon fontawesome-envelope scnd-font-color"></span>Messages</a>
            <a id="header-menu-msg-count" class="header-menu-number" href="#4"></a>
        </li>
        <li>
            <a id="projects-link" class="header-menu-tab" href="#5"><span
                    class="icon fontawesome-star-empty scnd-font-color"></span>Overview</a>
        </li>
    </ul>
    <div class="profile-menu">
        <p id="user-name"></p>
        <a><span class="entypo-down-open scnd-font-color"></span></a>
        <ul id="dropdown-menu">
            <li id="logout-button"><a href="/users/logout">Logout</a></li>
        </ul>
    </div>
</header>